<div class="container-fluid forms">
    <h1>Sign In</h1>
<form class="row g-3">
    <!-- <div class="col-12">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div> -->
    <div class="col-12">
        <label for="inputEmail4" class="form-label">Username</label>
        <input type="text" class="form-control" >
      </div>
    <div class="col-12">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    
    
    <div class="col-12 " style="margin-left: 150px;">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>

    <div class="col-12" style="margin-left: 100px;">
      <a routerLink="/Register"><label for="inputPassword4" class="form-label">New User Register Here</label></a> 
       
   </div>
  </form>
</div>